<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Home | Sleeping Alone</title>
        <link rel="stylesheet" href="../css/foundation.css">
        <script src="https://cdn.plot.ly/plotly-2.27.0.min.js" charset="utf-8"></script>
	</head>
	<body>
        <div class="off-canvas-wrapper">
            <div class="off-canvas position-left" id="offCanvas" data-off-canvas>
                <!-- Close button -->
                <button class="close-button" aria-label="Close menu" type="button" data-close>
                    <span aria-hidden="true">&times;</span>
                </button>

                <!-- Menu -->
                <ul class="vertical menu">
                    <li><a href="/">Home</a></li>
                    <li><a href="/rel/sc">Relationship Results</a></li>
                    <li><a href="/gdr/f">Gender Results</a></li>
                    <li><a href="/loc/enc">Location Results</a></li>
                </ul>
            </div>
        

            <div class="off-canvas-content">
                <!-- Button for navigation -->
                <button id="menu-button" type="button" class="clear button" data-toggle="offCanvas">
                    &Congruent;
                </button>
                <div class="grid-container full">
                    <div id="header"> <center> <h1 class="h2">Sleeping Alone</h1> </center> </div> <br/>


                    <div class="grid-x">
                        <div id="relPlot" style="width:33%;height:20rem;"></div>
                        <div id="locPlot" style="width:33%;height:20rem;"></div>
                        <div id="gdrPlot" style="width:33%;height:20rem;"></div>
                    </div>
                </div>
            </div>
        </div>

        <script>
            let RELPLOT = document.getElementById('relPlot');
            let LOCPLOT = document.getElementById('locPlot');
            let GDRPLOT = document.getElementById('gdrPlot');
            
            Plotly.newPlot( RELPLOT, $$RELPLOT$$, {margin: { t: 0 } } );
            Plotly.newPlot( LOCPLOT, $$LOCPLOT$$, {margin: { t: 0 } } );
            Plotly.newPlot( GDRPLOT, $$GDRPLOT$$, {margin: { t: 0 } } );
        </script>
		<script src="../js/vendor/jquery.js"></script>
        <script src="../js/vendor/what-input.js"></script>
        <script src="../js/vendor/foundation.js"></script>
        <script type="application/javascript">
            $(document).foundation();
        </script>
	</body>
</html>