<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>$$SEARCH$$ Results</title>
        <link rel="stylesheet" href="../css/foundation.css">
	</head>
	<body>
        <div class="off-canvas-wrapper">
            <div class="off-canvas position-left" id="offCanvas" data-off-canvas>
                <!-- Close button -->
                <button class="close-button" aria-label="Close menu" type="button" data-close>
                    <span aria-hidden="true">&times;</span>
                </button>

                <!-- Menu -->
                <ul class="vertical menu">
                    <li><a href="/">Home</a></li>
                    <li><a href="/rel/sc">Relationship Results</a></li>
                    <li><a href="/gdr/f">Gender Results</a></li>
                    <li><a href="/loc/enc">Location Results</a></li>
                </ul>
            </div>
        

            <div class="off-canvas-content">
                <!-- Button for navigation -->
                <button id="menu-button" type="button" class="clear button" data-toggle="offCanvas">
                    &Congruent;
                </button>
                <div class="grid-container">
                    <div id="header"> <center> <h1 class="h3">$$HEADER$$</h1> </center> </div> <br/>
                    <div id="desc"> <center> $$DESCRIPTIONS$$ </center> </div> <br/>

                    <div class="grid-x grid-padding-x align-justify">
                        <div class="cell auto"><a href="#" id="previous">&laquo; Previous</a></div>
                        <div class="cell shrink"><a href="#" id="next">Next &raquo;</a> </div>
                    </div>

                    <div class="grid-x">
                        <table> 
                            <thead>
                                <tr>
                                    <th> ID </th>
                                    <th>Age</th>
                                    <th>Gender</th>
                                    <th>Relationship</th>
                                    <th>Location</th>
                                    <th>Occupation</th>
                                    <th>Income</th>
                                    <th>Education</th>
                                    <th>Separate Bed</th>
                                    <th>Sleep Better</th>
                                    <th>Snore</th>
                                    <th>Sick</th>
                                    <th>Sex Life</th>
                                    <th>Frequent Bathroom</th>
                                    <th>Argument</th>
                                    <th>Intimate</th>
                                </tr>
                            </thead>
                            <tbody>
                                <div id="data"> $$DATA$$ </div> <br/>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <script src="../js/vendor/buttons.js"></script>
		<script src="../js/vendor/jquery.js"></script>
        <script src="../js/vendor/what-input.js"></script>
        <script src="../js/vendor/foundation.js"></script>
        <script type="application/javascript">
            $(document).foundation();
        </script>
	</body>
</html>